/HolaMundo/nbproject/private/
/TiposDeDatosPrimitivos/nbproject/private/
/TiposDeDatosPrimitivos/build/
/TiposDeDatosNoPrimitivos/nbproject/private/
/TiposDeDatosNoPrimitivos/build/
/Constantes/nbproject/private/
/Constantes/build/
